h1 {
    text-align: center;
}

.containerContainer {
	display: flex;
	justify-content: center;
}

#container {
	width: 800px;
	height: 800px;
	display: grid;
}

.gridItem {
	outline: 1px solid black;
}

/*.gridItem:hover {
	background-color: black;
} */