h1 {
    text-align: center;
}

.containerContainer {
	display: flex;
	justify-content: center;
}

.settingsContainer {
	background-color: rgb(231, 224, 224);
	width: 30vh;
	height: 80vh;
	margin-right: 2em;
}

.sliderContainer {
	display: flex;
}

#gridSlider {
	margin: 20px;
}

#sliderOutput {
	margin: 20px;
}


#gridContainer {
	width: 80vh;
	height: 80vh;
	display: grid;
}

.gridItem {
	outline: 1px solid black;
}

#reset-btn {
	margin-top: 1em;
}